body {
  margin: 0px;
  padding: 0px;

}

.productBG {
  background: #fff;
  height: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.hero-img {
  margin-top: -30px;
}

.form-group {
  margin-bottom: 20px;
}

.btn:hover {
  background-color: black;
  color: white;
}

/*---------------------------------------------Payment-------------------------------------*/

.submit-button {
  margin-top: 10px;
}

/*---------------------------------------404 error---------------------------*/
.error-404 {
  margin: 0 auto;
  text-align: center;
}
.error-404 .error-code {
  bottom: 60%;
  color: #4686CC;
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
}
.error-404 .error-desc {
  font-size: 12px;
  color: #647788;
}
.error-404 .m-b-10 {
  margin-bottom: 10px!important;
}
.error-404 .m-b-20 {
  margin-bottom: 20px!important;
}
.error-404 .m-t-20 {
  margin-top: 20px!important;
}
